* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

h2 {
  color: white;
}

.post-title {
  color: black;
}

.App {
  text-align: center;
  background-color: black;
  min-width: 100%;
}

.home {
  width: 100%;
}

/* Header */
/* =============================================== */

header {
  width: 100%;
  height: 80px;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: white;
  border-bottom: 1px solid #53536a;
}

.header-navbar {
  margin-right: 30px;
  display: flex;
  justify-content: space-between;
}

header .main-buttons {
  display: flex;
  justify-content: space-between;
  padding: 30px;
}

header .log-out {
  margin-right: 40px;
  margin-top: 25px;
  display: flex;
  border-radius: 8px;
  border: 1px solid white;
  height: 40px;
  padding: 15px;
}

header .log-out:hover {
  background-color: rgb(229, 11, 69);
  border: none;
  cursor: pointer;
}

header .app-title {
  margin-left: 20px;
  color: rgb(229, 11, 69);
}

header .navbar-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 30px;
}

header .navbar-button:hover {
  color: yellow;
}

header .navbar-button .icon {
  width: 25px;
  height: auto;
}

header .button-title {
  margin-left: 10px;
  text-decoration: none;
  color: white;
  font-size: 18px;
}

header .button-title:hover {
  color: yellow;
}

header .app-logo {
  display: flex;
  margin-top: 20px;
  margin-left: 20px;
}

header img {
  margin-bottom: 10px;
  width: 60px;
}

/* Footer */
/* =============================================== */

footer {
  margin-top: 80px;
  border-top: 1px solid #53536a;
  padding: 50px;
  color: white;
  background-color: black;
}

footer h3 {
  margin-bottom: 10px;
}

footer h3 span {
  color: yellow;
  font-family: cursive;
}

/* Welcome page */
/* =============================================== */

.banner {
  background-color: rgb(23, 23, 69);
  display: flex;
  justify-content: space-between;
  position: relative;
  height: max-content;
}
.banner-info {
  display: flex;
  flex-direction: column;
}

.banner-image img {
  width: 100%;
  opacity: 0.6;
}

.about-us {
  border: 1px solid rgb(220, 11, 66);
  border-radius: 10px;
  padding: 50px;
  background-color: #3d3d4e;
  width: 80%;
  margin: 100px auto;
  justify-content: space-between;
  text-align: justify;
  color: white;
  font-size: 20px;
}

.about-us h3 {
  color: yellow;
}

.banner .links {
  margin-top: 50px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.banner-link,
.iq-info-button,
.forum-info-button {
  text-decoration: none;
  color: white;
  margin-left: 40px;
  border: 1px solid white;
  padding: 10px;
  border-radius: 5px;
}

.banner-link .icon {
  margin-left: 10px;
}

.banner-link:hover,
.iq-info-button:hover,
.forum-info-button:hover {
  background-color: rgb(220, 11, 66);
}

/* IQ-Info */
/* =============================================== */
.iq-info {
  margin: 60px auto;
  display: flex;
  justify-content: center;
  padding: 20px;
  width: 80%;
  color: white;
  line-height: 25px;
  background-color: #3d3d4e;
  border: 1px solid #53536a;
  border-radius: 8px;
}

.iq-info img {
  width: 300px;
}

.iq-info h2 {
  text-align: left;
  margin-left: 40px;
  margin-bottom: 20px;
  color: yellow;
}

.iq-info p {
  text-align: left;
  margin-left: 40px;
  margin-bottom: 50px;
}

.iq-info-button .icon {
  margin-left: 10px;
}

/* Forum info */
.forum-info {
  width: 80%;
  margin: 30px;
  margin: 60px auto;
  display: flex;
  justify-content: center;
  padding: 20px;
  color: white;
  line-height: 25px;
  background-color: #3d3d4e;
  border: 1px solid #53536a;
  border-radius: 8px;
}

.forum-info img {
  width: 350px;
}

.forum-info h2 {
  text-align: left;
  margin-bottom: 20px;
  color: yellow;
}

.forum-info p {
  text-align: left;
  text-align: justify;
  margin-right: 50px;
  margin-bottom: 50px;
}

.forum-info-button .icon {
  margin-left: 10px;
}

/* =============================================== */
/* Forum Page */
/* =============================================== */

.forum-page {
  width: 90%;
  margin: 30px auto;
  padding: 20px;
  background-color: black;
}

.forum-page-columns {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.main {
  width: 50%;
  border: 1px solid rgb(74, 74, 74);
  background-color: rgb(58, 57, 57);
  border-radius: 20px;
  padding-top: 10px;
}

.user-challenges-side {
  justify-self: flex-end;
  color: white;
  flex: 1;
}

.search-side {
  flex: 1;
}

/* Forum banner */
/* =============================================== */

.forum-banner {
  display: flex;
  justify-content: flex-end;
  background-color: rgb(58, 57, 57);
  padding: 10px;
  border: 1px solid rgb(100, 99, 99);
  border-radius: 10px;
}

.user-icon {
  width: 80px;
  box-sizing: border-box;
  color: white;
  margin-right: 30px;
}

.user-icon img {
  width: 80px;
  border-radius: 50%;
  border: 1px solid rgb(131, 128, 128);
  background-color: white;
  margin-bottom: 10px;
}

.banner-navbar {
  display: flex;
  height: fit-content;
  padding: 10px;
  margin-right: 100px;
  margin-top: 20px;
  color: white;
}

.forum-banner .banner-button {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-left: 30px;
}

.banner-button:hover {
  color: yellow;
}

.forum-banner-link {
  color: white;
  font-size: 18px;
  text-decoration: none;
}

.forum-banner-link:hover {
  color: yellow;
}

.forum-banner .banner-button .icon {
  margin-bottom: 5px;
  width: 30px;
  height: auto;
}

/* Forum => Main => user challenges  & search & main */
/* =============================================== */

.home-user-challenge-cards,
.search-results-container {
  padding: 10px;
  background-color: black;
  height: 550px;
  overflow: scroll;
  padding-top: 0px;
  width: 100%;
}

.search-results-container {
  height: 400px;
}

.home-user-challenge-cards {
  margin-top: 40px;
  margin-left: 30px;
}

.home-user-challenge-cards::-webkit-scrollbar {
  display: none;
}

.home-user-challenge-cards h2 {
  margin-bottom: 20px;
}

/* search */

.search-side {
  padding-right: 40px;
}

.search-container {
  color: white;
  display: flex;
  flex-direction: column;
  margin: 0px 10px 0px 10px;
  align-items: center;
  border: 1px solid gray;
  padding: 20px;
  border-radius: 10px;
}

.search-container h2 {
  margin-bottom: 10px;
}

.search-container input {
  margin-right: 10px;
  margin-bottom: 20px;
  height: 30px;
  width: 80%;
}

.search-container button {
  height: 30px;
  width: 80px;
}

.search-results-container::-webkit-scrollbar {
  display: none;
}

/* Search container */

.search-form {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Challenge card */

.challenge-card {
  margin-bottom: 20px;
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid rgb(119, 118, 118);
  background-color: rgb(58, 57, 57);
  color: white;
  padding: 20px;
  width: 250px;
  box-shadow: rgba(203, 203, 203, 0.24) 0px 3px 8px;
  transition: all 0.3s linear;
}

.challenge-card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(246, 244, 244, 0.22);
  transform: scale(1.05);
}

.challenge-card-link {
  text-decoration: none;
}

/* Favorites */
/* =============================================== */
.empty-favorites-message {
  margin-top: 30px;
  color: white;
}

/* Challenge post */
/* =============================================== */

.challenge-hidden {
  display: none;
}

.input-create-challenge {
  margin: 30px 20px;
  width: 80%;
  border-radius: 20px;
  height: 50px;
  font-size: 16px;
  padding: 15px;
  overflow: hidden;
}

.challenge-post {
  background-color: white;
  margin: 20px;
  position: relative;
  border-radius: 20px;
  border: 1px solid gray;
}

.post-content {
  width: 100%;
  padding: 20px;
}

.post-content img {
  width: 100%;
  margin-top: 30px;
}

.post-info-with-logo {
  display: flex;
  margin-top: 0px;
  padding: 20px;
}

.user-logo {
  flex: 1;
  width: 100px;
  height: 100px;
  margin-right: 15px;
  border-radius: 10px;
  border: 1px solid gray;
}

.user-logo img {
  width: 100px;
  margin-top: 0px;
}

.post-info {
  text-align: left;
}

.post-info h2 {
  margin-bottom: 10px;
}

.post-info p {
  margin-bottom: 6px;
  font-size: 18px;
}

.challenge-body {
  font-size: 18px;
  text-align: left;
  text-align: justify;
  line-height: 1.5;
  white-space: pre-line;
  /* white-space: pre-wrap; */
  margin: auto;
  margin-bottom: 30px;
  color: rgb(65, 65, 65);
  max-width: 90%;
}

.challenge-body p {
  line-height: 1.5;
  text-align: justify;
  max-width: 95%;
  margin: auto;
}

.challenge-body ul {
  margin-left: 30px;
}

.challenge-body ol {
  margin-left: 30px;
}

.favorite-icon {
  width: 50px;
  height: auto;
  cursor: pointer;
  color: rgb(220, 11, 66);
}

.fav-icon-and-post-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.interaction-area {
  display: flex;
  justify-content: space-between;
  margin: 0px 30px 0px 30px;
  font-size: 18px;
}

.post-navbar {
  margin: 20px;
  margin-bottom: 30px;
  display: flex;
}

.post-navbar button {
  width: 25%;
  height: 40px;
  background-color: white;
  border: none;
  color: rgb(54, 52, 52);
  font-size: 16px;
  border-top: 1px solid rgb(176, 171, 171);
  padding: 10px 0px 10px 0px;
}

.post-navbar button:hover {
  cursor: pointer;
  background-color: rgb(228, 226, 226);
  transition: background-color 0.5s;
}

.post-navbar .icon {
  width: 20px;
  height: auto;
  margin-left: 10px;
}

.comment-form {
  display: flex;
  width: 80%;
  margin: 20px auto;
  margin-bottom: 20px;
}

.comment-form textarea {
  width: 100%;
  border-radius: 20px;
  height: 50px;
  font-size: 16px;
  padding: 15px;
  overflow: hidden;
}

.comment-form button {
  height: 40px;
  width: 100px;
  margin-top: 10px;
  margin-left: 20px;
  border-radius: 20px;
}

.comments-container {
  border: 1px solid gray;
  border-radius: 10px;
  margin: 20px;
}

.comment {
  text-align: left;
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
  border: 1px solid gray;
  margin: 20px;
  white-space: pre-line;
  white-space: pre-wrap;
  background-color: white;
}

.comment h3 {
  margin: 10px;
}

.comment p {
  margin: 10px;
  margin-left: 30px;
}

.comment button {
  margin-top: 10px;
  margin-right: 10px;
  border: none;
  background-color: transparent;
  outline: none;
}

.delete-comment-icon {
  width: 20px;
  height: auto;
  color: rgb(79, 77, 77);
}

/* User page */
/* =============================================== */

.forum-user-page-columns {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.user-page-main {
  width: 60%;
}

.user-page-right-side {
  width: 30%;
  margin-top: 170px;
  color: white;
}

.user-page-right-side .title {
  margin-bottom: 30px;
}

.user-page-right-side .favorites {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.my-challenges-title {
  margin-bottom: 20px;
}

/* Popup */
/* =============================================== */

.popup-external {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgb(58, 57, 57);
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.popup-internal {
  position: relative;
  background-color: white;
  margin-bottom: 50px;
  width: 60%;
  border-radius: 20px;
}

.close-button {
  position: absolute;
  right: 10px;
  top: 10px;
}

/* Delete challenge */
/* =============================================== */

.delete-challenge-container {
  padding: 20px;
}

.delete-challenge-container h2,
h3,
p {
  margin-bottom: 20px;
}

.delete-challenge-container button {
  width: 80px;
  height: 30px;
  border-radius: 10px;
}
.delete-challenge-container button .icon {
  width: 16px;
  height: auto;
  color: rgb(87, 85, 85);
}

.delete-challenge-container button:hover {
  background-color: rgb(220, 11, 66);
  color: white;
  cursor: pointer;
  transition: background-color 0.5s;
}

/* Update challenge & create challenge */
/* =============================================== */

.create-update-challenge-div {
  border: 1px solid gray;
  margin: 20px;
  border-radius: 20px;
  padding: 20px;
  position: relative;
}

/* Close */
.create-update-challenge-div button {
  position: absolute;
  right: 10px;
  top: 10px;
  height: 25px;
  width: 50px;
}

/* Title */
.create-update-challenge-div h2 {
  margin-bottom: 50px;
  color: white;
}

/* message */
.create-update-challenge-div h3 {
  color: white;
}

.update-form {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
}

.update-title {
  border: none;
  border-bottom: 1px solid gray;
  margin-bottom: 30px;
  margin-top: 30px;
  font-size: 20px;
  background-color: rgb(58, 57, 57);
  color: white;
}

.update-body {
  border-radius: 10px;
  padding: 10px;
  height: 200px;
  font-size: 16px;
  background-color: rgb(58, 57, 57);
  color: white;
  width: 100%;
}

.text-editor {
  position: relative;
  margin-bottom: 30px;
}

.ckEditor-button {
  right: 5px;
  top: 5px;
  position: absolute;
  background-color: rgb(58, 57, 57);
  color: white;
  padding: 10px;
  text-decoration: none;
  margin: auto;
  border-radius: 5px;
}

.ckEditor-button .icon {
  background-color: rgb(58, 57, 57);
  color: white;
}

.update-image {
  height: 30px;
  border-radius: 5px;
  border: 1px solid gray;
  padding: 5px;
  margin-bottom: 50px;
  background-color: rgb(58, 57, 57);
  color: white;
}

.update-image:focus,
.update-body:focus,
.update-title:focus {
  outline: none;
}

.create-challenge-button {
  border: 1px solid white;
  border-radius: 20px;
  padding: 10px;
  text-decoration: none;
  color: white;
}

.create-challenge-button:hover {
  border: none;
  background-color: rgb(220, 11, 66);
}

/* =============================================== */
/*  IQ- test page */
/* =============================================== */

.iq-test-container {
  width: 80%;
  margin: 30px auto;
  color: white;
  height: 100vh;
}

.iq-banner {
  border-radius: 20px;
  border: 1px solid gray;
  width: 30%;
  margin: 30px auto;
  padding: 20px;
}

.open-icon,
.close-icon {
  width: 30px;
  height: auto;
  margin: 10px;
}

.open-icon {
  color: green;
}

.close-icon {
  color: red;
}

.sign-up-button {
  color: yellow;
  font-size: 20px;
}

.question-and-answers {
  display: flex;
  justify-content: space-between;
}

.question-answers-hidden {
  display: none;
}

.iq-question-div img {
  width: 300px;
  margin-top: 30px;
}

.iq-answers {
  display: flex;
  flex-wrap: wrap;

  padding: 50px;
}

.iq-answers .image-container img {
  width: 100%;
}

.image-container {
  height: fit-content;
  padding: 10px;
  width: 20%;
  margin-top: 30px;
}

/* Sign Up */
/* =============================================== */

.sign-up-message {
  margin-top: 50px;
  margin-bottom: 30px;
  color: white;
}

.sign-up-form {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: auto;
  border: 1px solid gray;
  border-radius: 20px;
  padding: 20px 40px 20px 40px;
  background-color: #3d3d4e;
  border: 1px solid #53536a;
  color: white;
}

.sign-up-form input {
  border: none;
  border-bottom: 1px solid white;
  margin-bottom: 20px;
  font-size: 16px;
  opacity: 1;
  background-color: #3d3d4e;
  color: white;
}

.sign-up-form input:focus {
  outline: none;
}

.sign-up-form button {
  width: 40%;
  height: 40px;
  margin: auto;
}

.btn-icon {
  margin-left: 10px;
  width: 16px;
  height: auto;
}

.user-logo-div {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  align-items: center;
}

.user-logo-div p {
  font-size: 20px;
}

.user-logo-div img {
  width: 200px;
  margin-bottom: 20px;
}

.user-logo-div input {
  margin-top: 10px;
  width: 80%;
  font-size: 16px;
}

.user-logo-div input:focus {
  outline: none;
}

/* Log In */
/* =============================================== */

.login-loading {
  margin-top: 100px;
}

.login-container {
  width: 30%;
  border: 1px solid gray;
  border-radius: 20px;
  margin: 100px auto;
  padding: 20px;
  background-color: #3d3d4e;
  border: 1px solid #53536a;
  color: white;
}

.login-container h3 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.login-form {
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
}

.login-form input {
  border: none;
  border-bottom: 1px solid white;
  margin-bottom: 20px;
  font-size: 16px;
  margin-bottom: 30px;
  background-color: #3d3d4e;
  color: white;
}

.login-form input:focus {
  outline: none;
}

.login-container button {
  width: 100px;
  height: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
}

/* Clicked buttons */

.clicked {
  color: yellow;
}

/* =============================================== */

@media screen and (max-width: 600px) {
  .app {
    min-width: 100%;
    min-width: 1000px;
  }

  .home {
    min-width: min-content;
    background-color: black;
  }

  header {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    height: 300px;
    padding: 20px;
  }

  .header-navbar {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .main-buttons {
    min-width: min-content;
  }

  .header-navbar .navbar-button {
    flex: 1;
  }

  .log-out {
    width: 40%;
    margin: auto;
    justify-self: center;
    align-self: center;
  }

  .user-challenges-side,
  .search-side {
    display: none;
  }

  /* Welcome => Banner */

  .banner {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
  }

  /* IQ-info */
  .iq-info {
    flex-direction: column;
    padding: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .iq-info-text {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .iq-info-text p {
    text-align: justify;
    margin-right: 20px;
  }

  /* Forum-info */
  .forum-info {
    flex-direction: column;
    align-items: center;
  }

  .forum-text {
    margin-bottom: 40px;
    margin-left: 30px;
  }

  .forum-text p {
    text-align: justify;
  }

  .forum-info img {
    width: 90%;
  }

  /* Forum => home */

  .forum-page {
    min-width: fit-content;
  }

  .forum-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 40px;
  }

  .banner-navbar {
    width: 100%;
    align-self: center;
    order: 1;
    margin-bottom: 20px;
  }

  .forum-home-main {
    min-width: fit-content;
  }

  /* User page */

  .forum-user-page-columns {
    display: flex;
    flex-direction: column;
  }

  .user-page-right-side {
    display: none;
  }

  .user-page-main {
    min-width: fit-content;
  }

  /* Favorites page */

  .favorites-page {
    min-width: fit-content;
    min-width: 100%;
  }

  .main {
    min-width: 100%;
  }

  .login-container {
    width: 90%;
  }

  /* Iq-test */

  .iq-test-container {
    min-height: 100vh;
  }

  .question-and-answers {
    flex-direction: column;
  }

  .iq-answers {
    flex-direction: column;
  }

  .image-container {
    width: 100%;
  }

  .iq-banner {
    width: 90%;
  }

  .iq-test-container {
    height: 300vh;
  }
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
  header h1 {
    font-size: 30px;
  }
  .header-navbar {
    justify-content: flex-start;
  }

  .main-buttons {
    min-width: 70%;
  }

  .header-navbar .navbar-button {
    flex: 2;
  }

  header .log-out {
    margin-right: 10px;
  }

  .banner img {
    margin-top: 130px;
  }

  /* IQ-test page */

  .question-and-answers {
    flex-direction: column;
  }

  .iq-answers {
    flex-direction: row;
  }

  .image-container {
    width: 30%;
  }

  .iq-banner {
    width: 60%;
  }

  .login-container {
    width: 60%;
  }

  /* Forum */
  .user-challenges-side {
    display: none;
  }

  .main {
    flex: 3;
    margin-left: 20px;
  }
}
