* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.forum-page-columns {
  display: flex;
  flex-direction: row;
  background-color: rgb(194, 161, 161);
  width: 90%;
  margin: 20px auto;
  justify-content: space-between;
}

.forum-page-columns div {
  width: 30%;
  border: 1px solid black;
}

.main {
  background-color: green;
}
.challenge-post {
  min-width: 50vh;
  background-color: red;
}
